body
{
	--h1-color: #db2727;
    --h2-color: #899aeb
}

.callout[data-callout="answer"] 
{
    --callout-color: 218, 187, 119; /* RGB values, blue */
    --callout-icon: lucide-check-circle;
}

.theme-light 
{
    --custom-bold-color: #a33ba7;
    --custom-text-color: #1a1a1a;
}

.theme-dark
{
    --custom-bold-color: #daba77;
    --custom-text-color: #ffeecb;
}

.markdown-preview-view strong,
.markdown-source-view.mod-cm6 .cm-strong 
{
    color: var(--custom-bold-color) !important;
}

.markdown-preview-view,
.markdown-source-view.mod-cm6,
.markdown-source-view.mod-cm6 .cm-content 
{
    color: var(--custom-text-color) !important;
}


@media print 
{
    h1, h2, h3, h4, h5, h6 
    {
        page-break-after: avoid;
        break-after: avoid;
    }

    img 
    {
        break-inside: avoid;
        page-break-inside: avoid;
        max-width: 100%;
    }

    pre /*cum*/
    {
        break-inside: avoid;
        page-break-inside: avoid;
    }

    section 
    {
        break-inside: avoid;
    }

    .callout 
    {
        break-inside: avoid;
        page-break-inside: avoid;
        margin: 1em 0;
    }

    .callout-title,
    .callout-content 
    {
        break-inside: avoid;
        page-break-inside: avoid;
    }
}